<!DOCTYPE html>

<html>
    <head>
        <title>Voices</title>
        <!-- <link rel="stylesheet" href="css/style.css" /> -->
    </head>
    <!-- <body>
        {% for v in voice %}
            <div>
                <h1>{{v.id_no}}</h1>
            </div>
        {% endfor %}
    </body> -->
    <body>
        <h1>Voices</h1>
        <table>
        {% for v in voice %}
            <tr>
                <td>{{v.id_no}}</td>
                <td>{{v.voice_name}}</td>
                
            </tr>
        {% endfor %}
        </table>
    </body>
</html>
